<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>black</key>
	<string>black.jpg</string>
	<key>blue</key>
	<string>blue.jpg</string>
	<key>brown</key>
	<string>brown.jpg</string>
	<key>green</key>
	<string>green.jpg</string>
	<key>orange</key>
	<string>orange.jpg</string>
	<key>pink</key>
	<string>pink.jpg</string>
	<key>purple</key>
	<string>purple.jpg</string>
	<key>red</key>
	<string>red.jpg</string>
	<key>white</key>
	<string>white.jpg</string>
	<key>yellow</key>
	<string>yellow.jpg</string>
</dict>
</plist>
