<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>daisy</key>
	<string>daisy.jpg</string>
	<key>lotus</key>
	<string>Lotus.png</string>
	<key>orchid</key>
	<string>orchid.jpg</string>
	<key>rose</key>
	<string>Rose.jpg</string>
	<key>sunflower</key>
	<string>Sunflower.jpg</string>
</dict>
</plist>
